*.txt
cmake-build-debug
*.idea
*.out
*.c
Makefile
*.cmake
cmake
*.cbp
*.pdf
*.tar.gz
*.log
.settings
.vs
.vscode
*.cxx
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build dir
build*
debug_build
release_build
/bin
/lib
/install

# Qt cache
CMakeLists.txt.user
CMakeLists.txt.user.*

# IDE project files
*.sublime-project
*.sublime-workspace

# Local config windows
_configure.bat
_open-project.bat
_start-cmake-gui.bat
_start-cmd.bat

# Local config unix
.localconfig

# Wiki
wiki
